<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>instanceServlet</servlet-name>
    <servlet-class>org.fehlis.underrealm.server.InstanceServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>underrealmServlet</servlet-name>
    <servlet-class>org.fehlis.underrealm.server.UnderrealmServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>instanceServlet</servlet-name>
    <url-pattern>/underrealm/instance</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>underrealmServlet</servlet-name>
    <url-pattern>/underrealm/greet</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Underrealm.html</welcome-file>
  </welcome-file-list>

</web-app>
